<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Perris</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>
<body>

  <nav>
    <h1>🐾 Mis Perris</h1>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Galeria</a></li>
      <li><a href="{% url 'registro' %}">Registro</a></li>
      <li><a href="#">Quienes Somos</a></li>
    </ul>
  </nav>

  <!-- SECCIÓN DE PORTADA -->
<header class="hero">
  <div class="hero-text">
    <h1>Mascotas Felices en Mis Perris</h1>
    <p>¿Cuál es la mejor mascota para usted?</p>
    <a href="#" class="btn">Leer Más</a>
  </div>
</header>

  <section class="imagen">
    <h1>Galería de Imágenes</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam, obcaecati ratione itaque...</p>

    <div class="galeria">
      {% for emp in mascotas %}
      <div class="card-perro">
        <img src="{% static 'images/' %}{{ emp.foto }}" alt="{{ emp.nombre }}">
        <h2>Nombre</h2>
        <td>{{ emp.nombre }}</td>
        <h2>Raza</h2>
        <td>{{ emp.raza }}</td>

      </div>
      {% endfor %}
    </div>
  </section>

</body>
</html>
